<!doctype html>
<html lang="it" ng-app="OrarioSett" id="ng-app">
<head>
  <meta charset="utf-8">
  <title>Orario Settimanale</title>
  <!--[if lte IE 8]>
    <script src="javascripts/json3.min.js"></script>
    <script>
      document.createElement('ng:template');
      document.createElement('ng-template');
    </script>
  <![endif]-->  

  <link href="stylesheets/portal.css" rel="stylesheet"/>
  <link href="stylesheets/time_selector.css" rel="stylesheet"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>  
<!--link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"-->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="stylesheets/orariosettimanale.css" rel="stylesheet"/>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
  <script src="javascripts/ui-bootstrap-tpls-0.6.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
  <!-- script src="//netdna.bootstrapcdn.com/bootstrap/2.3.1/js/bootstrap-combined.min.js"></script -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap-combined.min.css"></script>
  <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/i18n/angular-locale_it-it.js"></script-->
  <!-- script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.min.js"></script -->
  <script src="javascripts/time_selector.js"></script>
  <script>
    if (!document.getElementsByClassName) {
      document.getElementsByClassName = function(clsName) {
        var retVal = new Array();
        var elements = document.getElementsByTagName('*');
        for (var i = 0 ; i < elements.length ; i++) {
        if (elements[i].className.indexOf(' ') >= 0) {
          var classes = elements[i].className.split(' ');
          for(var j = 0;j < classes.length;j++) {
            if (classes[j] === clsName) {
              retVal.push(elements[i]);
              }
            }
          } else if (elements[i].className === clsName) {
                    retVal.push(elements[i]);
                  }
        }
        return retVal;
      };
    }

  window.onload =function ()  {
    document.getElementById('page').style.display = 'none';
    var els = document.getElementsByClassName('no-js');

    els_len = els.length - 1;
    for (var idx = els_len; idx >= 0 ; --idx) { 
      var el = els[idx];
      el.className = el.className.replace(/\bno-js\b/,'js');
    }
  };
  </script>
  <style>
      .no-js {
        display: none;
      }
      .js {
        display: inline;
      }
      div.dialog {
        width: 50em;
        padding: 0 4em;
        margin: 4em auto 0 375px;
        
        border: 1px solid #c4c4c4;
       }     
  </style>
</head>
<body>
 <div ng-include="'header.html'"></div>  
  <div id="page">
    <img src="/images/ruote-dentate-industria-siderurgica.png" align="left" alt="E' necessario abilitare javascript."/>
    <div class="dialog">
      <h1>Hmmm! Non funziona.</h1>
      <h2>La pagina che stai cercando di visualizzare funziona solo con Javascript abilitato.</h2>
      <p>Dovresti abilitare javascript per questa pagina, oppure cambiare il browser
         (o "navigatore", se la parola di prima non ti dice granch&eacute;) con uno pi&ugrave; aggiornato che lo supporti.</p>
      <a href="/">Torna al portale</a>
    </div>
  </div>
<div class="no-js">   
<!--[if lte IE 8]>
<div class="alert alert-error">
    <h4>Ohib&ograve;!</h4>
    Con <strong>Internet Explorer 8</strong> o inferiore non funziono bene, lo sai? <small>:'-(</small><br/>
    Prova ad utilizzarmi in Firefox o Chrome (ma anche Opera; o Safari, se ti capitasse di avere un Apple&reg;).
  </div>
<![endif]-->
    <div ng-controller="CollapseConfig" ng-init="initialize()">
        <div class="row">
            <div class="span4">
                <accordion close-others="false">
                    <accordion-group>
                      <accordion-heading>
                          Durata della pausa pranzo <span class="badge">{{orario_parms['dpp'] | date:'HH:mm'}}</span>
                          <i class="pull-right icon icon-fixed-width icon-cog"></i>          
                      </accordion-heading>
                      <div ng-model="orario_parms['dpp']" ng-change="changed('dpp')">
                        <timepicker hour-step="1" minute-step="1" show-meridian="false" style="display: inline-block;"></timepicker>
                      </div>
                    </accordion-group>
                    <accordion-group>
                      <accordion-heading>
                        Matura la pausa pranzo dopo <span class="badge">{{orario_parms['mpp'] | date:'HH:mm'}}</span>
                        <i class="pull-right icon icon-fixed-width icon-cog"></i>          
                      </accordion-heading>
                        <div ng-model="orario_parms['mpp']" ng-change="changed('mpp', matura_pp_dopo)">
                          <timepicker hour-step="1" minute-step="1" show-meridian="false" style="display: inline-block;"></timepicker>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div class="span5">
                <accordion close-others="false">
                    <accordion-group>
                        <accordion-heading>
                            Numero max di ore lavorate al giorno <span class="badge">{{orario_parms['mhg'] | date:'HH:mm'}}</span>
                          <i class="pull-right icon icon-fixed-width icon-cog"></i>          
                        </accordion-heading>
                          <div ng-model="orario_parms['mhg']" ng-change="changed('mhg', max_hh_gg)">
                            <timepicker hour-step="1" minute-step="1" show-meridian="false" style="display: inline-block;"></timepicker>
                          </div>
                        </accordion-group>
                        <accordion-group>
                        <accordion-heading>
                            Ore lavorate settimanali <span class="badge">{{(orario_parms['ols']).getHours()| pad: 3}}:{{(orario_parms['ols']).getMinutes() | pad: 2}}</span>
                            <i class="pull-right icon icon-fixed-width icon-cog"></i>          
                        </accordion-heading>
                        <div ng-model="orario_parms['ols']" ng-change="changed('ols', ore_settimanali)">
                          <ng-time-selector></ng-time-selector>
                        </div>
                        </accordion-group>
                </accordion>
            </div>
            <div class="span3">
               <span class="text-right text-info"> Ripristina al valore originale <a class="icon icon-mini" href="#" ng-click="reset_data()"><i class="icon-fixed-width icon-trash"></i></a></span>
            </div>
        </div>
    </div>
    <div ng-controller="TimeTableCtrl">
    <table class="table table-striped table-condensed" align="center" style="width: auto; border: 1px solid #cccccc">
      <thead>
        <tr>
          <th>Giorno</th>
          <th>Inizio</th>
          <th>Fine</th>
          <th style="text-align: center">Pausa<br/>pranzo</th>
          <th colspan="2" style="text-align: center">Ore<br/>Lavorate</th>
          <th style="text-align: center">Differenza<br/>E/U</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="4" class="lead" style="text-align: right">Totale lavorato</td>
          <td style="text-align: right"><i class="icon-warning-sign" ng-hide="!allertaTotLavorato()"></i></td>
          <td class="lead" style="text-align: right"><p class="{{allertaTotLavoratoStringa()}}">{{totaleLavoratoStringa()}}</p></td>
          <td> </td>
        </tr>
      </tfoot>
      <tbody>
        <tr ng-repeat="giorno in giornate" class="{{lavorativoFestivo(giorno.lav)}}">
          <td>{{giorno.gg}}</td>
          <td class="lead"><div class="btn-group">
                <button id="i{{$index}}" class="btn popover-button" popover-placement="right" popover-template="tpl-ingresso.html"><i class="icon-time"></i></button>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="icon-caret-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a id="ic{{$index}}" href="#" ng-click="copy(giorno.ingresso);"><i class="icon-fixed-width icon-copy"></i> Copia</a></li>
                  <li><a id="ip{{$index}}" href="#" ng-click="giorno.ingresso=paste();"><i class="icon-fixed-width icon-paste"></i> Incolla</a></li>
                  <li class="divider"></li>
                  <li><a id="id{{$index}}" href="#" ng-click="giorno.ingresso=null;"><i class="icon-fixed-width icon-trash"></i> Cancella</a></li>
                </ul>
              </div>
              {{giorno.ingresso | date:'H.mm' }}
              </td>
          <td class="lead"><div class="btn-group">
                <button id="u{{$index}}" class="btn popover-button" popover-placement="right" popover-template="tpl-uscita.html"><i class="icon-time"></i></button>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="icon-caret-down"></span></a>
                <ul class="dropdown-menu">
                  <li><a id="uc{{$index}}" href="#" ng-click="copy(giorno.uscita)"><i class="icon-fixed-width icon-copy"></i> Copia</a></li>
                  <li><a id="up{{$index}}" href="#" ng-click="giorno.uscita=paste();"><i class="icon-fixed-width icon-paste"></i> Incolla</a></li>
                  <li class="divider"></li>
                  <li><a id="ud{{$index}}" href="#" ng-click="giorno.uscita=null;"><i class="icon-fixed-width icon-trash"></i> Cancella</a></li>
                </ul>
              </div>
              {{giorno.uscita | date:'H.mm' }}</td>
          <td class="lead" style="text-align: center">{{maturaPausaStringa(giorno)}}</td>
          <td style="text-align: right"><i class="icon-warning-sign" ng-hide="!allertaInconsistenza(giorno)"></i></td>
          <td class="lead" style="text-align: right"><p class="{{allertaInconsistenzaStringa(giorno)}}">{{lavoratoStringa(giorno)}}</p></td>
          <td class="lead" style="text-align: right"><p>{{diffOrariaStringa(giorno)}}</p></td>
        </tr>        
      </tbody>
    </table>
    <script type="text/ng-template" id="tpl-ingresso.html">
      <div ng-model="giorno.ingresso" class="well well-small" style="display:inline-block;">
        <timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
      </div>
      <button class="btn btn-close" ng-click="closePopover('i' + $index);">Chiudi</button>
    </script>
    <script type="text/ng-template" id="tpl-uscita.html">
      <div ng-model="giorno.uscita" class="well well-small" style="display:inline-block;">
        <timepicker hour-step="1" minute-step="1" show-meridian="false"></timepicker>
      <button class="btn btn-close" ng-click="closePopover('u' + $index);">Chiudi</button>
      </div>
    </script>
  </div>
  <div>      
      <p>Si ringrazia <a href="http://glyphicons.com/">Glyphicons</a> e <a href="http://fontawesome.io">Font Awesome by Dave Gandy</a> per il set di icone.</p>
      <div ng-include="'footer.html'"></div>
  </div>
  <script src="javascripts/timeinterval.js"></script>
  <script src="javascripts/orariosettimanale.js"></script>
  <script src="javascripts/orariosettconf.js"></script>
  <script src="javascripts/ajs-dir-filt-serv.js"></script>
</div>
</body>
</html>
